*{
	padding: 0;
	margin: 0;
	

}
body{
	font-family: Helvetica, "Trebuchet MS", sans-serif;
	background: #000000 url(../imagens/bg.png);
	margin: 15px;
}
/*area do topo
******************************************/
#container{
	border: 1px red solid;
	background: #ede9cc;
	min-width: 740px;
	max-width: 1400;
	margin: 0 auto;
	height: auto;
}
#topo{
	position: relative;
	background: #dbcd87;
	height: 15.4em;
	min-height: 250px;
}
.logo a{
	position: absolute;
	top: 35px;
	left: 15px;
	z-index: 3;
	width: 151px;
	height: 66px;
	/*text-indent: -9000px;/*tag para acessibilidade de leitores de tela*/
	color: #fff;
	
	
	  
}
#area-logo{
	position: absolute;
	background: url(../imagem/fundo_seo1.png) no-repeat;
	width: 100%;
	height: 250px;
	top: 0;
	left: 0;
	z-index: 1;
	
}
#area-menu{
	position: absolute;
	background: url(../imagem/topo-imagem-lateral.png);
	width: 450px;
	height: 250px;
	top: 0;
	right: 0;
	z-index: 2;
}
#conteudo-menu{
	margin-left: 90px;
	margin-right: 15px;
	padding-top: 15px;
}
#menu_icones_top{
	position: relative;
	/*border-bottom: 1px solid #9581ee;
	border-top: 1px solid #a19af5;*/
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: -15px;
	color: azure;
	transform: translate(-0%, -10%);
		
	
}
#dados{
	margin-top: 0;
}
#pessoal li p,a {
	
	text-decoration: none;
	font-size: 14px;
	color: azure;
	line-height: 1.5em;
	text-transform: uppercase;
	
	
}
ol li{
	list-style: none;
	
}
h1 p{
	font-size: 2em;
	padding: 15px 0 0 15px;
	color: azure;
}
/*area skills
******************************************/
#area {
	color: #000000;
	
}

.area {
	text-align: center;
	font-size: 2.9em;
	margin-top: 100px;
}
.area2 {
	padding: -10px 0 15px 15px;
	
}
.area2 h1{
	padding: 0 0 15px 15px;
	font-size: 26px;
	
}
#foto{
	float: left;
	padding: 5px 5px 5px 5px;
	border: 5px #d8d3f5 solid;
	background: #d8d3f5;
}
#area-principal{
	
	float: left;
	width: 50%;
	margin-top: 40px;
}
#area-skills{
	
	float: right;
	width: 50%;
	margin-top: 40px;

}
/*grafico de skills
***********************************/
.base_graf_Em_Busca {
    width: 100%; /*tamanho lateral do grafico*/
    background-color: aliceblue;
    height: 100px; /*altura do grafico, proporcional a 10 itens*/
	
}
.Busca_nome {
    width: 35%;
    background-color: antiquewhite;
    height: 35px; /*se alterar altura, alterar também altura da tabela*/
    float: left;
}
.Busca_valor {
    width: 70%;
    background-color: azure;
    height: 35px; /*altura igual a da classe Busca_nome*/
    float: right;
}
.Busca_nome_centralizado {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}
.insert_busca_width {
    background-color: rgb(30, 12, 110);
    height: 25px;
    color: rgb(230, 217, 217);
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
	
}
/*competencia academicas 
********************************************************/
#competencia {
	color: #000000;
	padding: 100px 0 10px 0;	
	clear: both;
	margin-top: 10px;
	width: 100%;
	
}
#competencia h2{
	font-size: 36px;
	color: #000000;
	text-align: center;
	padding-bottom: 25px;
}
.coluna-1 {
	float: left;
	width: 47%;
	padding: 10px 10px 20px 10px;
	border: 5px #F5F5DC solid;
	
	
}
.coluna-2 {
	float: right;
	width: 47%;
	background:#F5DEB3;
	padding: 10px 10px 20px 10px;	
	border: 5px #F5F5DC solid;
	
	
}


#competencia p{
	color: #000000;
}
/*realizações e o video
*********************************************************/

/*Link não visitado */
a:link {
  color: green;
  text-decoration: none;
  
}

/*Link já visitado*/
a:visited {
  color: blue;
  text-decoration: none;
}

/*Quando o mouse passa por cima*/
a:hover {
  color: pink;
  text-decoration: none;
}

/*Link ativo/selecionado*/
a:active {
  color: yellow;
  text-decoration: none;
}
#Real h2 {
	font-size: 36px;
	text-align: center;
	margin: 50px;
	color: #000000;
	padding: 50px 10px 10px 10px;
	clear: both;
	
}
.real1{
	padding: 15px 15px 15px 15px;
	color: #000000;
	text-transform: uppercase;
	text-align: center;
	
}
.real2{
text-align: center;
}

/*experiencia profissional*/
#experiencia{
	color: #000000;
	padding: 100px 0 10px 0;	
	clear: both;
	margin-top: 10px;
	width: 100%;
}
#experiencia h2{
	font-size: 36px;
	color: #000000;
	text-align: center;
	padding-bottom: 25px;
}
.coluna-3{
	float: left;
	width: 47%;
	padding: 5px 20px 5px 5px;
	border: 5px #F5F5DC solid;
	
}
.coluna-4{
	float: right;
	width: 47%;
	background:#F5DEB3;
	padding: 5px 10px 5px 5px;
	border: 5px #F5F5DC solid;
	
}
.primeira{
	font-weight: bold;
	margin-top: 15px;
}
.ultima{
	margin-bottom: 100px;
}
li{
	list-style: none;
}


/*rodape
*****************************************************/
#rodape{
	background: #6a5acd;
	clear: both;
	text-align: center;
	width: 100%;
	margin-top: 100px;
	padding: 10px 0 10px 0;
}
